:root {
  --mars-gradient: linear-gradient(
    45deg,
    #ff9d6f,
    #e27b58,
    #c67b5c,
    #99857a,
    #8e6a5a
  );
}
body {
  background-image: var(--mars-gradient);
  background-size: 400%;
  animation: bg-animation 20s ease infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
